node_modules/
package-lock.json
/dist
/app
/renderer/.next/
/DB_nodes
/DB_accounts
/INDEX_accounts
/pouch__all_dbs__
/_replicator
/_users
.vscode/
.idea/
log.txt
config.json
/resources/peerplay_tools/cr_client/software/
/resources/peerplay_tools/lan_play/software/
/resources/peerplay_tools/cr_server/software/
